
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
*.lock
.metadata/.mylyn/.tasks.xml.zip
*.prx
*.tii
*.tis
*.gen
*.frq
*.fnm
*.fdx
*.fdt
*.json
*.nrm
*.ini
*.xml
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
.metadata/.plugins/org.eclipse.ui.intro/introstate
*.setup
*.index
*.log
*.history
*.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.zip
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/color-definitions-fix.css
.metadata/.plugins/org.eclipse.core.resources/.projects/APCSProject/.markers
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.jdt.ui-326703266.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
*.snap
*.version
*.prefs
*.launch
*.cfe
*.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
*.tree
*.xmi
*.si
*.resources
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
*.png
APCSProject/bin/rockPaperScissors.class
APCSProject/src/rockPaperScissors.java
/.metadata/
/.recommenders/
Test Crap/src/Zipcodes.java
Zip Codes/src/Zipcodes.java
